openapi: 3.0.3
info:
  title: Wappalyzer Public Basics Verify API
  version: v2
  description: 'OpenAPI 3.0 contract for Wappalyzer''s documented public REST endpoints.

    Covers credit balance, technology lookup, lead lists, subdomain discovery,

    and email verification.

    '
  license:
    name: Proprietary
    url: https://www.wappalyzer.com/terms/
  contact:
    name: Wappalyzer Support
    url: https://www.wappalyzer.com/contact/
servers:
- url: https://api.wappalyzer.com/v2
security:
- ApiKeyAuth: []
tags:
- name: Verify
  description: Email verification and deliverability checks.
paths:
  /verify:
    get:
      tags:
      - Verify
      operationId: verifyEmail
      summary: Verify an email address
      parameters:
      - $ref: '#/components/parameters/Email'
      responses:
        '200':
          description: Verification result returned successfully.
          headers:
            wappalyzer-credits-spent:
              $ref: '#/components/headers/CreditsSpent'
            wappalyzer-credits-remaining:
              $ref: '#/components/headers/CreditsRemaining'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Rate limit exceeded.
    Forbidden:
      description: Authorization failed, the resource or method is invalid, or the account lacks sufficient credits.
    BadRequest:
      description: The request payload or query string was invalid.
  schemas:
    VerifyResult:
      type: object
      required:
      - email
      - domain
      - reachable
      - disposable
      - roleAccount
      - mxValid
      - connection
      - inboxFull
      - catchAll
      - deliverable
      - disabled
      - syntaxValid
      properties:
        email:
          type: string
          format: email
        domain:
          type: string
        reachable:
          type: string
          enum:
          - safe
          - risky
          - invalid
          - unknown
        disposable:
          type: boolean
        roleAccount:
          type: boolean
        mxValid:
          type: boolean
        connection:
          type: boolean
        inboxFull:
          type: boolean
        catchAll:
          type: boolean
        deliverable:
          type: boolean
        disabled:
          type: boolean
        syntaxValid:
          type: boolean
  headers:
    CreditsRemaining:
      description: Remaining credit balance after the request completes.
      schema:
        type: integer
    CreditsSpent:
      description: Number of credits deducted by the request.
      schema:
        type: integer
  parameters:
    Email:
      name: email
      in: query
      required: true
      description: Email address to verify.
      schema:
        type: string
        format: email
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
